{% extends './base.html' %}
{% load static %}

{% block content %}

<!-- Start #page-title-->
<section class="page-title page-title-4 page-title-5 bg-overlay bg-overlay-dark bg-parallax" id="page-title">
    <div class="bg-section"><img src="{% static 'frontend/images/9.jpg' %}" alt="Background"></div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4 offset-lg-4">
          <div class="title">
            <div class="title-sub-heading">
              <p>Directions, That Matter!</p>
            </div>
            <div class="title-heading">
              <h1>Service That Saves Your Time!</h1>
            </div>
            <div class="clearfix"></div>
            <ol class="breadcrumb justify-content-center">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'frontend:about' %}">Company</a></li>
              <li class="breadcrumb-item active" aria-current="page">About Us</li>
            </ol>
          </div>
          <!-- End .title -->
        </div>
        <!-- End .col-lg-8 -->
      </div>
      <!-- End .row-->
    </div>
    <!-- End .container-->
</section>
<!-- End #page-title-->



<!--
============================
About #5 Section
============================
-->
<section class="about about-2 about-5" id="about-5">
    <div class="container">
        <div class="row">
        <div class="col-12 col-lg-5">
            <div class="heading heading-9">
            <p class="heading-subtitle">Providing Full Range Of Transportation Worldwide.</p>
            <h2 class="heading-title">Reliable Logistic Solutions Saves Your Time!</h2>
            </div>
            <div class="about-block"> 
            <div class="block-left"> 
                <p>Revella World Express is a representative logistics operator providing full range of service in the sphere of customs clearance transportation worldwide for any cargo</p>
                <p>We pride ourselves on providing the best transport and shipping services available allover the world. Our skilled personnel, utilising the latest communications, tracking and combined with experience through integrated supply chain solutions!</p>
            </div>
            </div>
            <div class="signature-block">
            <div class="signature-body"> 
                <h6>john peter</h6>
                <p>founder</p>
            </div><img src="{% static 'frontend/images/1.png' %}" alt="signature">
            </div>
        </div>
        <!-- End .col-lg-6-->
        <div class="col-12 col-lg-6 offset-lg-1">
            <div class="about-img abput-img-text">
            <div class="about-img-warp">
                <div class="bg-section"><img class="img-fluid" src="{% static 'frontend/images/two_1.jpg' %}" alt="about Image"></div>
            </div>
            <div class="about-card">
                <h6>Flexibile, Improved &amp; Accelerated Solutions!</h6>
                <p>Providing full range of service in the sphere transportation worldwide.</p><a href=""><i class="icon-arrow-right"></i> our borchure</a>
            </div>
            </div>
        </div>
        </div>
        <!-- End .row-->
    </div>
<!-- End .container-->
</section>



<!--
============================
Counters Section
============================
-->
<section class="counters" id="counters-1">
    <div class="bg-section"> <img src="{% static 'frontend/images/pattern-red.png' %}" alt="background-img"></div>
    <div class="container">
        <div class="heading heading-light heading-10">
        <div class="row">
            <div class="col-12 col-lg-5">
            <h2 class="heading-title">
                Individually Assess <br>Each Plan And Offer <br>Optimal Solutions!</h2><a class="btn btn--transparent btn--inverse" href="javascript:void(0)">our services</a>
            </div>
            <div class="col-12 col-lg-6 offset-lg-1">
            <p class="heading-desc">Skilled personnel, utilising communications, tracking processing software, combined with decades of experience! Through an integrated supply chain solutions, Equita drives sustainable competitive advantages to some of Australia's largest companies.</p>
            <div class="counters-container">
                <div class="counter counter-2">
                <div class="counter-icon"> <i class="flaticon-018-packaging"></i></div>
                <div class="counter-num"> <span class="counting">9,612</span>
                    <p>m</p>
                </div>
                <div class="counter-name">
                    <h6>delivered goods</h6>
                </div>
                </div>
                <div class="counter counter-2">
                <div class="counter-icon"> <i class="flaticon-026-delivery-man"></i></div>
                <div class="counter-num"> <span class="counting">7,521</span>
                    <p>m</p>
                </div>
                <div class="counter-name">
                    <h6>clients worldwide</h6>
                </div>
                </div>
                <div class="counter counter-2">
                <div class="counter-icon"> <i class="flaticon-007-shopping-bag"></i></div>
                <div class="counter-num"> <span class="counting">9,729</span>
                    <p>m</p>
                </div>
                <div class="counter-name">
                    <h6>tons of goods</h6>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="counter-img bg-overlay-2 bg-overlay-dark2">
        <div class="bg-section"><img src="{% static 'frontend/images/one_1.jpg' %}" alt="counter-img"></div>
        <!-- End .row-->
        </div>
    </div>
    <!-- End .container-->
</section>


<!--
      ============================
      Services #3 Section
      ============================
      -->
      <section class="services services-3" id="service-3">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
              <div class="heading text--center">
                <p class="heading-subtitle">Safe &amp; Reliable Cargo Solutions!</p>
                <h2 class="heading-title">Managing Logistics For World's Multinational Companies.</h2>
              </div>
            </div>
            <!-- End .col-lg-6-->
          </div>
          <!-- End .row-->
          <div class="row">
            <div class=" col-12 col-md-6 col-lg-4">
              <div class="service-panel"> 
                <div class="service-panel-container">
                  <div class="service-img"><a href="javascript:void(0)"></a><img src="{% static 'frontend/images/1_1_1.jpg' %}" alt="service img"></div>
                  <!-- End .work-img-->
                  <div class="service-content"> 
                    <div class="service-title">
                      <h4><a href="javascript:void(0)">air freight</a></h4>
                    </div>
                    <div class="service-desc">
                      <p>We can provide with the comprehensive service in the sphere of urgent, valuable, fragile or any cargoes conscientious.</p>
                    </div>
                    <div class="service-list">
                      <ul class="list-unstyled"> 
                        <li> <a href="javascript:void(0)"><i class="fas fa-check-circle"></i><span>quality control system</span></a></li>
                        <li> <a><i class="fas fa-check-circle"></i><span>100% satisfaction guarantee</span></a></li>
                        <li> <a><i class="fas fa-check-circle"></i><span>highly professional staff</span></a></li>
                      </ul>
                    </div>
                    <div class="service-more"><a class="btn" href="javascript:void(0)"> <i class="icon-arrow-right"></i><span>read more</span></a></div>
                  </div>
                  <!-- End .work-content -->
                </div>
                <!-- End .work-item-container-->
              </div>
            </div>
            <div class=" col-12 col-md-6 col-lg-4">
              <div class="service-panel"> 
                <div class="service-panel-container">
                  <div class="service-img"><a href="javascript:void(0)"></a><img src="{% static 'frontend/images/2_2_2.jpg' %}" alt="service img"></div>
                  <!-- End .work-img-->
                  <div class="service-content"> 
                    <div class="service-title">
                      <h4><a href="javascript:void(0)">ocean freight</a></h4>
                    </div>
                    <div class="service-desc">
                      <p>We provides with the main types of basic sea transportation is implemented by our partners' vessels.</p>
                    </div>
                    <div class="service-list">
                      <ul class="list-unstyled"> 
                        <li> <a href="javascript:void(0)"><i class="fas fa-check-circle"></i><span>unrivalled workmanship</span></a></li>
                        <li> <a><i class="fas fa-check-circle"></i><span>accurate testing processes</span></a></li>
                        <li> <a><i class="fas fa-check-circle"></i><span>professional &amp; qualified</span></a></li>
                      </ul>
                    </div>
                    <div class="service-more"><a class="btn" href="javascript:void(0)"> <i class="icon-arrow-right"></i><span>read more</span></a></div>
                  </div>
                  <!-- End .work-content -->
                </div>
                <!-- End .work-item-container-->
              </div>
            </div>
            <div class=" col-12 col-md-6 col-lg-4">
              <div class="service-panel"> 
                <div class="service-panel-container">
                  <div class="service-img"><a href="javascript:void(0)"></a><img src="{% static 'frontend/images/3_3_3.jpg' %}" alt="service img"></div>
                  <!-- End .work-img-->
                  <div class="service-content"> 
                    <div class="service-title">
                      <h4><a href="javascript:void(0)">road freight</a></h4>
                    </div>
                    <div class="service-desc">
                      <p>We provides with the main types of basic sea transportation is implemented by our partners' vessels.</p>
                    </div>
                    <div class="service-list">
                      <ul class="list-unstyled"> 
                        <li> <a href="javascript:void(0)"><i class="fas fa-check-circle"></i><span>commercial expertise</span></a></li>
                        <li> <a><i class="fas fa-check-circle"></i><span>sustanabillity goals</span></a></li>
                        <li> <a><i class="fas fa-check-circle"></i><span>logistical expertise</span></a></li>
                      </ul>
                    </div>
                    <div class="service-more"><a class="btn" href="javascript:void(0)"> <i class="icon-arrow-right"></i><span>read more</span></a></div>
                  </div>
                  <!-- End .work-content -->
                </div>
                <!-- End .work-item-container-->
              </div>
            </div>
          </div>
          <!-- End .row-->
        </div>
        <!-- End .container-->
      </section>
{% endblock%}