{% load static %}
<!--
============================
Footer #1
============================
-->
<footer class="footer footer-1">
    <div class="footer-top"> 
        <div class="container"> 
        <div class="row"> 
            <div class="col-12 col-lg-3 col-xl-4">
            <div class="footer-logo"><img class="footer-logo" src="{% static 'frontend/images/revella-logo.png' %}" alt="logo"></div>
            </div>
            <div class="col-12 col-lg-9 col-xl-8">
            <div class="widget-newsletter">
                <div class="widget-content">
                <p>Sign up for industry alerts,<br>insights from Revella.</p>
                <form class="form-newsletter mailchimp">
                    <input class="form-control" type="email" name="email" placeholder="Your Email Address">
                    <input class="btn btn--primary" type="submit" value="sign up!">
                    <div class="subscribe-alert"></div>
                </form>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="footer-center">
        <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3 footer-widget widget-about">
            <div class="footer-widget-title">
                <h5>about</h5>
            </div>
            <div class="widget-content">
                <p>Revella World is a representative logistics operator providing full range of service in the sphere of customs cargo and transportation worldwide.</p>
                <p>Email: contact@revellaworldfx.com</p>
                <!-- Start .module-social-->
                <!-- <div class="module module-social"><a class="share-facebook" href="#"><i class="fab fa-facebook-f"> </i></a><a class="share-instagram" href="#"><i class="fab fa-instagram"></i></a><a class="share-twitter" href="#"><i class="fab fa-twitter"></i></a></div> -->
                <!-- End .module-social-->
            </div>
            </div>
            <!--  End .col-lg-4 -->
            <div class="col-sm-6 col-md-6 col-lg-2 offset-lg-2 footer-widget widget-links">
            <div class="footer-widget-title">
                <h5>services</h5>
            </div>
            <div class="widget-content">
                <ul>
                <li><a href="/">warehouse</a></li>
                <li><a href="/">air freight</a></li>
                <li><a href="/">ocean freight</a></li>
                <li><a href="/">road freight</a></li>
                <li><a href="/">supply chain</a></li>
                <li><a href="/">packaging</a></li>
                </ul>
            </div>
            </div>
            <!--  End .col-lg-2-->
            <div class="col-sm-6 col-md-6 col-lg-2 footer-widget widget-links">
            <div class="footer-widget-title">
                <h5>industries</h5>
            </div>
            <div class="widget-content">
                <ul>
                <li><a href="/">retail &amp; consumer</a></li>
                <li><a href="/">sciences &amp; healthcare</a></li>
                <li><a href="/">industrial &amp; chemical</a></li>
                <li><a href="/">power generation</a></li>
                <li><a href="/">food &amp; peverage</a></li>
                <li><a href="/">oil &amp; gas</a></li>
                </ul>
            </div>
            </div>
            <!--  End .col-lg-2-->
            <div class="col-sm-6 col-md-6 col-lg-3 footer-widget widget-contact">
            <div class="footer-widget-title">
                <h5>quick contact</h5>
            </div>
            <div class="widget-content">
                <p>If you have any questions or need help, feel free to contact with our team.</p>
                <ul> 
                <li class="phone"><a href="tel:+15625495412"><i class="fas fa-phone-alt"></i> +12153250764</a></li>
                <li class="address"><a href="">2307 Beverley Rd Brooklyn, New York 11226 United States.</a></li>
                </ul>
            </div>
            </div>
            <!--  End .col-lg-2-->
        </div>
        <div class="clearfix"></div>
        </div>
        <!--  End .container-->
    </div>
    <!--  End .footer-center-->
    <div class="footer-bottom">
        <div class="row">
        <div class="col-md-12 col-md-12 text--center footer-copyright">
            <div class="copyright"><span>© RevellaWorld, With Love by</span><a href="/"> revellaworldfx.com</a></div>
        </div>
        </div>
        <!--  End .row-->
    </div>
<!--  End .footer-bottom-->
</footer>